<h2>Question-1</h2>
<h3>Component-1</h3>
<app-database-cmp></app-database-cmp>
<h3>Component-2</h3>
<app-uitools></app-uitools>
<hr>
<h2>Question-2</h2>
<app-training></app-training>
<hr>
<h2>Question-3</h2>
<app-virtual-scrolling></app-virtual-scrolling>
<hr>
<h2>Question-4</h2>
<app-drag-drop></app-drag-drop>
<hr>
<h3>Question-5</h3>
<input type="text" style="width: 300px;" [(ngModel)]="message" placeholder="Please Enter here to display in Child Component" name="message">
<br>
<app-directive-cmp [data]='message'></app-directive-cmp>
